*
    box-sizing: border-box    
body
    +reg
img
    max-width: 100%
.container
    width: 1170px
    margin: auto
@media (max-width: 1200px)
    .container
        max-width: 760px
        width: 95%
@media (max-width: 768px)
    .container
        max-width: 580px
        width: 95%
@media (max-width: 320px)
    .container
        max-width: 750px
        width: 95%
.button
    background-color: $main-color
    border: none
    padding: 20px 30px
    color: $text-color
    font-size: 17px
    text-transform: uppercase
    &:hover
        background-color: lighten($main-color, 10%)
        cursor: pointer 
.section 
    padding: 93px 0
    &-title 
        font-size: 36px
        +black 
        padding: 0
        margin: 0
.input 
    background-color: $input-color
    padding: 30px
    font-size: 13px
    text-transform: uppercase