.navbar
    background-color: #191919
    padding: 24px 0
    &-block
        display: flex
        justify-content: space-between
        align-items: center
    &__info
        display: flex
        align-items: center
    &__contacts
        display: flex
        align-items: center
    &__mode
        display: flex
        flex-direction: column
        text-align: center
        color: $text-color
        font-size: 12px
    &__time
        font-weight: 700
        padding-bottom: 13px
    &__phone
        display: flex
        flex-direction: column
        margin-left: 185px
        +black
    &__first-tel
        color: $text-color
        font-size: 18px
        text-decoration: none
        margin-bottom: 10px
    &__second-tel
        color: $text-color
        font-size: 18px
        text-decoration: none
    &__button
        margin-left: 28px        
        font-size: 12px
@media (max-width: 1200px)
    .navbar 
        &__phone
            margin-left: 40px
@media (max-width: 768px)
    .navbar
        &__contacts
            display: none        
@media (max-width: 480px)
    .navbar
        &__button
            font-size: 10px
            padding: 16px 19px
        &__logo
            width: 140px
        